.media-controls
{
    margin-top: 5px;
    margin-bottom: 5px;
}

.media-controls input
{
    color: orange;
}

.media-controls i
{
    color: orange;
    padding-left: 18px;
    font-size: 35px;
}

.media-controls i:hover
{
    opacity: 0.5;
    cursor: pointer;
}

.gradient
{
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    color: white;
}

