/* Custom Generic Scroll bar */
/* width */
::-webkit-scrollbar {
  width: 10px;
  border-radius: 15px;
  display: none;
}

/* Track */
::-webkit-scrollbar-track {
  background: red;
  border-radius: 15px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: red;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: red;
  
}


.App {
  text-align: center;
}

